@page
@model SchoolGradebook.Pages.Admin.Classes.CreateModel

@{
    ViewData["Title"] = "Vytvořit třídu";
}

<h1>Vytvořit třídu</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Class.Grade" class="control-label">Ročník</label>
                <input asp-for="Class.Grade" class="form-control" />
                <span asp-validation-for="Class.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.Name" class="control-label">Označení (např. A, nebo B)</label>
                <input asp-for="Class.Name" class="form-control" />
                <span asp-validation-for="Class.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.TeacherId" class="control-label">Vyučující</label>
                <select asp-for="Class.TeacherId" class="form-control" asp-items="Model.TeachersList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Class.BaseRoomId" class="control-label">Kmenová učebna</label>
                <select asp-for="Class.BaseRoomId" class="form-control" asp-items="Model.RoomsList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvořit třídu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zpět</a>
</div>

