<footer class="border-top">
    <div class="container">
        <div>
            <a class="text-muted" asp-page="/About">O nás</a>
        </div>
        <div>
            <span>Studento &copy; @DateTime.Now.Year</span>
        </div>
        <div>
            <span>moje@studento.cz</span>
        </div>
    </div>
</footer>