<footer class="border-top">
    <div class="container">
        <div>
            <a class="text-muted" asp-page="/Privacy">Ochrana osobních údajů</a>
            <a class="text-muted" asp-page="/Privacy">O nás</a>
        </div>
        <div>
            <span>Studento &copy; 2020</span>
        </div>
        <div>
            <span>info@studento.cz</span>
            <span>800 123 456</span>
        </div>
    </div>
</footer>