@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@using SchoolGradebook.Models;
@using SchoolGradebook.Services;

@inject SignInManager<IdentityUser> SignInManager
@inject IHttpContextAccessor httpContextAccessor
@inject SchoolService schoolService
@inject StudentService studentService
@inject TeacherService  teacherService
@inject AdminService adminService
@{
    string UserId = httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
    UserId ??= "";
    string fullName = "";
    string schoolName = "";
    if (User.IsInRole("student"))
    {
        int? studentId = await studentService.GetStudentId(UserId);
        if (studentId != null)
        {
            Student s = await studentService.GetStudentBasicInfoAsync((int)studentId);
            if (s != null)
            {
                fullName = s.GetFullName();
                School school = await schoolService.GetSchoolById(s.SchoolId);
                if (school != null)
                {
                    schoolName = school.Name;
                }
            }
        }
    }
    else if (User.IsInRole("teacher"))
    {
        int? teacherId = await teacherService.GetTeacherId(UserId);
        if (teacherId != null)
        {
            Teacher t = await teacherService.GetTeacherAsync((int)teacherId);
            if (t != null)
            {
                fullName = t.GetFullName();
                School school = await schoolService.GetSchoolById((int)t.SchoolId);
                if (school != null)
                {
                    schoolName = school.Name;
                }
            }
        }
    }
    else if (User.IsInRole("admin"))
    {
        int? adminId = await adminService.GetAdminId(UserId);
        fullName = "Administrátor";
        if (adminId != null)
        {
            Admin a = await adminService.GetAdminById((int)adminId);
            if (a != null)
            {
                School school = await schoolService.GetSchoolById((int)a.SchoolId);
                if (school != null)
                {
                    schoolName = school.Name;
                }
            }
        }
    }
    else
    {
        fullName = "Neaktivovaný";
        schoolName = "Žádná škola";
    }
}

<ul class="navbar-nav navbar-yellow">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="line-height: 1;">
                @(fullName)<br>
                <span class="text-muted">@(schoolName)</span>
            </a>

        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Odhlásit se</button>
            </form>
        </li>
    }
    else
    {
        <div>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Přihlásit se</a>
            </li>
        </div>
    }
</ul>
