.grade-table-container{
    display: flex;
    border-radius: 0.25rem;
    background: #fff;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px !important;
    overflow-x: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.empty-grade-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    font-size: 2rem; 
}

.grade-column-section{
    display: flex;
}

.grade-cell{
    height: 40px;    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-name-cell{
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.student-name-text{
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.grade-text{
    width: 40px;
    height: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.average-grade-text{
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.column-header{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.column-header-text{
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.filler-column{
    width: 100%;
}

.grade-input{
    max-width: 40px;
    max-height: 25px;
    -webkit-appearance: none !important;
    margin: 0;
}

.column-header-input{
    width: 130px;
}

.button-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-grade-cell{
    width: 100%;
}

.subject-info{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
}

.subject-average-text{   
   white-space: nowrap;
   font-weight: normal !important;
}

.subject-heading{
 padding-bottom: 0!important;
}

.average-header-number{
    font-weight: 500;
}

.subject-info-container{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;  
}

.notification-bar-container{
    height: 30px;
    width: 40%;
    max-width: 100px;
    margin-top: -40px;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;  
    background-color: rgba(47,150,47,1)	;
    font-style: bold;
    color: #fff
}

.notification-text{
    padding: 0;
    margin: 0;  
}

@media only screen and (max-width: 600px) {
    .notification-bar-container{
        position: fixed;
        bottom: 20px;
        width: 80%;
        max-width: 80%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        z-index: 1;
    }
}

.new-grade-header-container{
    width:150px
}