@page
@model SchoolGradebook.Pages.Admin.Subjects.CreateModel

@{
    ViewData["Title"] = "Zapsat vyučujícímu předmět";
}

<h1>Zapsat vyučujícímu předmět</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectInstance.SubjectTypeId" class="control-label">Balík předmětů</label>
                <select asp-for="SubjectInstance.SubjectTypeId" class="form-control" asp-items="Model.SubjectTypeSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubjectInstance.TeacherId" class="control-label">Učitel</label>
                <select asp-for="SubjectInstance.TeacherId" class="form-control" asp-items="Model.TeacherSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapsat vyučujícímu předmět" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zpět</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
