@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Heslo bylo obnoveno";
}

<h1>@ViewData["Title"]</h1>
<p>
    Úspěšně jsme Vám obnovili heslo, nyní se prosím <a asp-page="./Login">přihlašte kliknutím zde</a>.
</p>
