@page
@model SchoolGradebook.Pages.Student.Subjects.Materials.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubjectMaterial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectMaterial.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectMaterial.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectMaterial.SubjectType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectMaterial.SubjectType.Id)
        </dd>
    </dl>
</div>
<div>
</div>
