.vs/
*.config

StudentoMainProject/obj
StudentoMainProject/bin
StudentoMainProject/Migrations
StudentoMainProject/Properties/PublishProfiles
StudentoMainProject/node_modules
StudentoMainProject/wwwroot/dist

TimetableServiceProject/obj
TimetableServiceProject/bin
TimetableServiceProject/Migrations
TimetableServiceProject/Properties/PublishProfiles