.vs/
*.config

StudentoMainProject/obj
StudentoMainProject/bin
StudentoMainProject/Properties/PublishProfiles
StudentoMainProject/node_modules
StudentoMainProject/wwwroot/css/site.min.css
StudentoMainProject/wwwroot/dist

TimetableServiceProject/obj
TimetableServiceProject/bin
TimetableServiceProject/Migrations
TimetableServiceProject/Properties/PublishProfiles

XUnitTests/obj
XUnitTests/bin