@page
@model SchoolGradebook.Areas.Teacher.Pages.Subjects.IndexModel
@using SchoolGradebook.Services
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@inject Analytics analytics
@inject IHttpContextAccessor httpContextAccessor

@{
    string UserId = httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
    ViewData["Title"] = "Index";
}

<h1>Všechny tvé předměty</h1>
@if (Model.Subjects.Count == 0)
{
    <p class="alert alert-warning my-5">Zatím Vám administrátor nepřidělil žádný předmět 🙁</p>
}
else
{
    <div class="d-flex justify-content flex-wrap">
        @foreach (Models.Subject s in Model.Subjects)
        {
            <a asp-page="Details" asp-route-id="@s.Id">
                <div class="card mx-1">
                    <div class="card-body">
                        <h5 class="card-title">@Html.Raw(s.Name)</h5>
                        <p class="card-text">Studentů: @Html.Raw(await analytics.getStudentsCountInSubjectAsync(s.Id))</p>
                        <a class="btn btn-primary" asp-page="Create" asp-route-subjectId="@s.Id">Přidat známku</a>
                    </div>
                </div>
            </a>
        }
    </div>

}
