@page
@model SchoolGradebook.Pages.Teacher.TimetableModel
@using SchoolGradebook.Services
@using System.Globalization;

<div id="root"></div>
@section Scripts {
    <script src="~/dist/TimeTable.js"></script>
}