@page
@model SchoolGradebook.Pages.Teacher.TimetableModel
@using SchoolGradebook.Services
@using System.Globalization;

@{
    ViewData["Title"] = "Rozvrh hodin";
}
<div id="root"></div>
@section Scripts {
    <script src="~/dist/TimeTable.js"></script>
}