@page
@model SchoolGradebook.Pages.Admin.Classes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Class.Grade" class="control-label">Ročník</label>
                <input asp-for="Class.Grade" class="form-control" />
                <span asp-validation-for="Class.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.Name" class="control-label">Označení (např. A, nebo B)</label>
                <input asp-for="Class.Name" class="form-control" />
                <span asp-validation-for="Class.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.TeacherId" class="control-label">Vyučující</label>
                <select asp-for="Class.TeacherId" class ="form-control" asp-items="Model.TeachersList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

