.outer-table {
    background-color: white;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 14px;
}

.inner-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    display: flex;
}



.lessons-table-horizontal{
    overflow: auto;
    width: 100%;
    overflow-x: overlay;
}

.lessons-table-vertical{ 
    display: flex;
    width: 100%;
    overflow-x: overlay;
    
}
  

.table-column{
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
}

.time-column{
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
}

.time-row {
    display: flex;
    max-height: 80px;
}

.table-cell {
    border: 2px solid #00000026;
    background-color: white;
    border-radius: 10px;
    margin: 3px;
    flex: 1 1 0px;
    min-width: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.table-cell-vertical{
    min-height: 85px;
    min-width: 0px;
    
}

.table-cell-change {
    border: 2px solid var(--primaryYellowStrong);
    background-color: var(--primaryYellowStrong);
}


.table-cell-empty {
    border: 2px solid #00000026;
    background-color: #00000024;
}

.day-cell {
    position: relative;
    margin-right: 12px;
    flex: 0.7 1 0;
    min-width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-cell-vertical {      
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
    min-width: 0px !important;
}

.subject-heading {
    font-weight: bold;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teacher-name {
    overflow: hidden;
    text-overflow: ellipsis;    
}

.time-cell {
    margin: 3px;
    border: 2px solid transparent;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
}

.time-cell-vertical{
    min-width: 0px !important;
    flex: 0.7 1 0px 
}

.hour {
    font-size: 12px;
    margin-top: 5px;
    min-width: 0;

}

.hour-number {
    font-weight: bold;
    font-weight: 1rem;
}

.top-bar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-end;
    align-items: center;    
}

.table-heading {
    margin: 0px 0px 0px 15px;
    display:none
}

.week-button-left{
    margin-right: 0px;
}

.week-button {
    padding: 0px;
}

    .week-button:hover {
        cursor: pointer;
    }

.arrow {
    height: 32px;
    width: 32px;
    user-select: none;
}

.eye-icon{
    height: 25px;    
}

.arrow-left {
    height: 20px;
    width: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px !important;
}

.flip-horizontally {
    transform: scaleX(-1);
}

.row-date{
    position: absolute;
    bottom: 0px;
}

.time-text2{
    word-wrap: break-word !important;
    text-align: center;
    margin: 0;
    min-width: 0px;
}

.empty-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 150px;
    margin-bottom: 150px;
    color: lightgrey;
}
.control-button-container{
    margin-right: auto;
    margin-left: 0px;
    display: flex;
    flex-wrap: nowrap;
}

.timetable-button{   
    white-space: nowrap;  
}

.day-column-container{
    display: flex;
    flex-direction: column;
}

.day-column-cell-empty {
    margin: 3px;
    border: 2px solid transparent;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.hidden{
    visibility: hidden;
}

.mr5{
    margin-right: 5px;
}

.mb0{
    margin-bottom: 0px;
}

@media(min-width: 450px){
    .table-heading{
        display: initial;
    }
    .control-button-container{
        margin-left: 20px;
    }
    .week-button-left{
        margin-right: 10px;
    }
}