@page
@model SchoolGradebook.Pages.Admin.Enrollments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Přidat studenta do skupiny</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentGroupEnrollment.StudentGroupId" class="control-label">Skupina</label>
                <select asp-for="StudentGroupEnrollment.StudentGroupId" class ="form-control" asp-items="Model.StudentGroups"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentGroupEnrollment.StudentId" class="control-label">Student</label>
                <select asp-for="StudentGroupEnrollment.StudentId" class ="form-control" asp-items="Model.Students"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Přidat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@ViewData["ReturnUrl"]">Zpět</a>
</div>

