@page
@model SchoolGradebook.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Domů";
}
<div class="text-center">
    <div class="d-flex justify-content-around">
        <div>
            <p>Počet vyučujících</p>
            <h2>@Model.TeacherCount</h2>
        </div>
        <div>
            <p>Počet studentů</p>
            <h2>@Model.StudentCount</h2>
        </div>
    </div>
    <div class="pt-2">
        <p>Poměr studentů na vyučujícího</p>
        <h3>@($"{Model.StudentToTeacherRatio:f2}")</h3>
    </div>
</div>
