.subject-title-container{    
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 0px 10px;
}

.subject-detail-title{
    margin-bottom: 0;
}

.heading-container{
    flex-grow: 1;
    flex-basis: 470px;    
}

.average-container{
    flex-grow: 1;
    flex-basis: 470px;
    display: flex;
    justify-content: start;
    align-items: center;  
}

.grades-heading-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;     
    margin: 16px 0px 16px 0px; 
}

.grades-heading{
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    margin-right: 25px;
    color: var(--grey);
}

.grade-container{   
    padding: 15px 5% 15px 5%;
    display: flex;   
    align-items: center;
}

.grade-info-container{
    margin: 15px 2% 15px 2%;
    padding: 10px 3% 10px 3%;     
    overflow: hidden; 
    border: solid 2px var(--primaryYellowStrong) !important;
    border-radius: 10px;   
}

.grade-info-information-container{
    display: flex;
    justify-content: space-between;
}

.grade-info-detail-text{
    width:70%;
    text-align: left;
    margin-right: 0 !important;
}

.detail-grade-circle{
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    text-align: center;
}

.grade-sub-container{    
    min-width: 100px;
    margin-left: 20px;    
}

.grade-info-sub-container{   
    min-width: 150px;
    width: 70%;    
}



.grade-name-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.grade-info-name{
    max-width: 80vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}

.subject-detail-grade-circle {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grade-weight-circle{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: white;
    border: solid black 1.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -5px;
    right: -5px;
    color: black;
    font-size: 0.85rem;
}

.grade-name{     
    white-space: nowrap;  
    margin-bottom: 0px;
}

.grade-time{    
    white-space: nowrap;
    margin-bottom: 0px;
    color: var(--grey);    
}

.grade-value{
    margin: 0 !important;
}

.grades-material-container{
    display: flex;
    flex-wrap: wrap;     
    justify-content: space-between;
    width: 100%;
}

.student-grades-container{
    width: 100%;
    max-width: 650px;        
}

.close-button-container{  
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 5px 0;
}

.close-info-button{
    margin-left: auto !important;   
}

.add-grade-popup-container{
    min-width: 250px;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 5;
}

.popup-inner-container{
    max-height: 95vh;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 15px;   
    background-color: white;
    border: none;
    border-radius: 10px;
    overflow-y: auto !important;   
}

.popup-title-container{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-input-container{  
    margin: 20px 0px 10px 0px; 
   
}

.popup-input-row{
    justify-content: space-between;
    display: flex;
    margin-bottom: 15px
}

.popup-weight-input{
    display: flex;
    justify-content: space-between;
}

.popup-input-small{
    max-width: 40px !important;
}

.popup-input-field{
    max-width: 50%;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    border: transparent;
    outline: none;
    border-radius: 10px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
}

.input-grade-value-weight{
    display: flex;
    justify-content: space-between;
    min-width: 50%;
}

.input-label{
    display: flex;
    align-items: center;
    color: var(--grey);
    margin: 0px 10px 0px 0px;
    white-space: nowrap;
}

.popup-title{
    margin: 0;
}

.detail-popup-title{
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-relative-time{
    margin: 0px 0px 10px 0px;
}

.number-input{
    width: 100%;
    max-width: 50px;
    margin-left: 10px;
   
}

.add-grade-div{
    margin-top: 20px;
    background: var(--primaryYellowStrong);
    width: 100%;
}


.add-warning-text{
    color: var(--pastelRed);
    font-size: 1rem;
    font-weight: 600;  
    margin: 10px 0px 10px 0px;
}

.rm{
    margin-right: 10px;
}

.add-group-container{
    margin: 10px 0px 0px 0px;
}

.add-grade-popup-inner-container{
    width: 100%;
    max-width: 400px;    
    margin: 20px 20px 0px 20px;
    padding:15px 20px 15px 20px;  
   
    background-color: white;
    border: none;
    border-radius: 10px;
    overflow: hidden;   
}

.material-popup-title-container{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-selection-button{
    flex-grow: 1;
}

.border-container{
    width: calc(100% - 10px);
    margin: 10px auto 10px auto;
    border-width: 1px 0 0 0; /* top right bottom left */
    border-style: solid;
    border-color: lightgray;
}

.add-grade-text{
    margin: 0px 0px 0px 0px;   
    text-align: center;
}

.grade-info-box{
    font-size: 0.8rem;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    max-width: 400px;    
    font-weight: 600; 
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.main-pd{
    padding: 0px 10px 0px 10px;
}

.file-input-label{
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    border: transparent;
    outline: none;
    border-radius: 10px;    
    cursor: pointer;
    padding: 10px 10px 40px 10px;
    min-height: 158.4px;
    margin-bottom: 15px;
}



.weight-circle{
    color: black;
    border-radius: 50%;
    border: solid black 1px;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
}

.detail-circles-container{
    display: flex;
    justify-content: center;
}

.material-name-input{
    margin-left: 10px;
    margin-right: 10px;
}

.material-popup-help-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.mb0{
    margin-bottom: 0;
}


@media(max-width: 1320px){    
    .student-grades-container{
        max-width: 1300px;
    }  
}

@media (max-width: 800px){
 
    .grade-name{
        max-width: 250px;
    }
    .material-name{
        max-width: 250px;
    }
}

@media (max-width: 500px){
 
    .grade-name{
        max-width: 150px;
    }
    .material-name{
        max-width: 150px;
    }
}

@media (max-width: 350px){
 
    .grade-name{
        max-width: 120px;
    }
    .material-name{
        max-width: 120px;
    }
}