@page
@model SchoolGradebook.Pages.Teacher.Grades.IndexModel
@{
    ViewData["Title"] = "Známky";
}
<input type="hidden" id="subjectInstanceId" value="@Model.SubjectInstanceId" />
<div id="root"></div>
@section Scripts {
    <script src="~/dist/Grades.js"></script>
}