@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Poslali jsme Vám email s instrukcemi";
}

<h1>@ViewData["Title"]</h1>
<p>
    Prosím zkontrolujte si svoji emailovou schránku, poslali jsme Vám odkaz pro vydání nového hesla.<br>Může to trvat několik minut.
</p>

