@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Pro dokončení registrace si prosím zkontrolujte svoji emailovou schránku.</p>
