@page
@model SchoolGradebook.Pages.Admin.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit</h1>

<h3>Opravdu chcete studenta odstranit?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Jméno
        </dt>
        <dd class="col-sm-10">
            @Model.Student.FirstName
        </dd>
        <dt class="col-sm-2">
            Příjmení
        </dt>
        <dd class="col-sm-10">
            @Model.Student.LastName
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> |
        <a asp-page="./Index">Zpět</a>
    </form>
</div>
