@page
@model SchoolGradebook.Pages.Teacher.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Třídy</h1>
<form class="search-bar">
    <label for="search">Zadejte třídu</label>
    <input class="form-control" id="search">
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Třída
            </th>
            <th>
                Vyučující
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-white">
        @foreach (var c in Model.Classes)
        {
            <tr>
                <td class="search-data">
                    @c.GetName()
                </td>
                <td>
                    @c.Teacher.GetFullName()
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="/Teacher/Classes/Details" asp-route-id="@c.Id">Zobrazit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/search.js"></script>
}