/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Studento style adaptation*/
.btn-primary {
    background-color: #feb23c !important;
    border: 2px solid #feb23c !important;
    color: #1a0504 !important;
}

    .btn-primary:hover {
        background-color: #fff !important;
        border-color: #feb23c !important;
    }

.btn-outline-primary {
    color: #000;
    background-color: #fff;
    border: 2px solid #feb23c !important;
}

    .btn-outline-primary:hover {
        color: #000;
        background-color: #feb23c;
        border-color: #feb23c;
    }

.btn {
    padding: 0.6rem 1rem;
    margin: 0 0.4rem;
    width: 100%;
}

.btn-icon {
    padding-right: 15px;
    vertical-align: sub;
}

.bg-primary {
    background-color: #ffcb7a !important;
}

.text-dark {
    color: #1a0504 !important;
}

h2 {
    font-weight: 600;
}

.main-image {
    height: 400px;
}

.landing-page {
    max-width: 720px;
    margin: 0 auto;
}

.table-heading {
    color: #707070;
    margin-top: 2rem;
    text-align: start;
}

.table-white {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 0.25rem;
    background: #fff;
    padding: 1rem 0;
}

    .table-white .btn {
        margin: 0;
    }

    .table-white tbody {
        width: 100%;
        display: table;
    }

.row-custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-condensed .cell {
    height: 50px;
    line-height: 30px;
}

.table-condensed img.cell {
    height: 50px;
}

.cell {
    vertical-align: middle !important;
    padding: 10px 15px;
    display: flex;
    align-content: center;
    height: 60px;
    line-height: 40px;
}

    .cell:nth-child(2) {
        width: calc(100vw - 15rem);
    }

    .cell:first-child {
        padding-left: 30px;
    }

.cell-group {
    display: flex;
    flex-direction: row;
}

td img {
    height: 40px;
}

.main-logo {
    font-size: 1.3rem;
    padding: 6px;
}

    .main-logo:hover {
        background: rgba(0,0,0,0.10);
        border-radius: 3px;
    }

.vertical-separator {
    margin: 0 5px;
    width: 2px;
    background: #1a0504;
}
/*Timetable*/
.timetable {
    background: white;
    border-radius: 5px;
    overflow-x: auto;
}

    .timetable .row {
        margin: 0;
        flex-wrap: nowrap;
    }

.timeframe {
    padding: 1rem;
    margin: 0.5rem;
    background: #E2E2E2;
    border-radius: 5px;
    font-size: 11px;
    width: 6.4rem;
    flex-shrink: 0;
}

    .timeframe strong {
        font-size: 13px;
    }

.timeframe-day {
    padding: 15px;
    margin: auto 0;
    width: 6rem;
    flex-shrink: 0;
}
/*p, li, oi, dt, dl {
    font-family: 'Prata', serif;
}*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
}


.nav-item .btn {
    padding: 0.5rem 0;
    width: auto;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.subject-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .subject-container .card {
        flex-grow: 0;
    }

.search-bar {
    max-width: 20rem;
    margin: 2rem 0;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    padding: 5px 10px;
}

/*Cards*/
.card {
    margin: 1rem 1rem 0 0;
    width: 20rem;
    min-height: 10rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border: none;
    flex-grow: 0.5;
    text-align: start;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-avg {
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

a .card {
    color: #1a0504 !important;
}

.card a {
    color: #1a0504 !important;
}

a:hover {
    text-decoration: none !important;
    background: rgba(0,0,0,0.10);
    border-radius: 4px;
}

.no-bcg-onhover:hover {
    background: transparent !important;
}

.card-title {
    font-size: 1.5rem;
}
/*Tables*/
.table td, .table th {
    border-top: none;
    text-align: left;
    vertical-align: middle;
}

    .table td:first-child {
        padding-left: 2rem;
    }

.table tr {
    width: 100%;
}

.table thead th {
    border-bottom: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .container {
        max-width: initial;
    }
}

@media (min-width: 960px) {

    .container {
        max-width: 960px !important;
    }
}

@media (min-width: 1120px) {

    .container {
        max-width: 1120px !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: initial;
    }

    .btn {
        padding: .375rem .75rem;
        width: auto;
    }

    .main-container {
        flex-direction: row;
    }

    .cell:nth-child(2) {
        width: auto;
    }

    .main-container > div {
        width: 50%;
    }

        .main-container > div:nth-child(2) {
            padding-left: 50px;
        }

    .cell:last-child {
        padding-right: 30px;
    }

    .card-body {
        flex-direction: row;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/*Select 2*/

.select2-results__option--selected {
    display: none;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0,0,0,0.06);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
