/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Studento style adaptation*/
.btn-primary {
    background-color: #feb23c !important;
    border-color: #feb23c !important;
    color: #1a0504 !important;
}

.btn {
    padding: 0.6rem 1rem;
    width: 100%;
}

.bg-primary {
    background-color: #ffcb7a !important;
}

.text-dark {
    color: #1a0504 !important;
}

h2 {
    font-weight: 600;
}

.main-image {
    height: 400px;
}

.landing-page {
    max-width: 720px;
    margin: 0 auto;
}

.main-logo {
    background: #fff;
    border-radius: 3px;
    padding: 8px 5px;
}

    .main-logo:hover {
        background: #f6f6f6;
    }

.vertical-separator {
    margin: 0 5px;
    width: 2px;
    background: #1a0504;
}
/*p, li, oi, dt, dl {
    font-family: 'Prata', serif;
}*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav-item .btn {
    padding: 0.5rem 0; 
    width: auto;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.subject-container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .subject-container .card {
        flex-grow: 0.3;
    }
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}
/*Cards*/
.card {
    margin: 1rem 1rem 0 0;
    width: 14rem;
}
/*Tables*/
.table td, .table th {
    border-top: none;
    text-align: left;
    padding: 0.45rem;
}

.table thead th {
    border-bottom: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    .btn {
        padding: .375rem .75rem;
        width: auto;
    }

    .main-container {
        flex-direction: row;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
