@page
@model SchoolGradebook.Pages.Teacher.Grades.CreateModel

@{ ViewData["Title"] = "Přidat známku"; }

<h1>@Model.SubjectName</h1>
<h3>Přidat známku</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grade.Name" class="control-label">Název</label>
                <input asp-for="Grade.Name" class="form-control" />
                <span asp-validation-for="Grade.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Studenti:</label>

                <div class="add-grades-container">

                    @for (int i = 0; i < Model.Students.Count; i++) 
                    {
                        <div class="row">
                            <div class="col-md">@Model.Students[i].GetFullName()</div>
                            <div class="col-md">
                                <input type="hidden" name="grades[@i][studentId]" value="@Model.Students[i].Id" />
                                <input type="number" name="grades[@i][grade]" min="1" max="5" maxlength="1" autocomplete="off" class="form-control" />
                            </div>
                        </div>
                    }

                </div>

                <div class="form-group">
                    <input type="submit" value="Přidat" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
