.material-container{
    width: 100%;
    max-width: 650px;     
}

.material-popup-inner-container{
    max-height: 95vh;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 15px;   
    background-color: white;
    border: none;
    border-radius: 10px;
    overflow-y: auto !important;   
}

.material-popup-title-container{    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-title{
    margin: 0;
}

.material-container-heading-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.material-name{
    margin: 0 !important;
    font-weight: 500;
    min-width: 30px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-material-container{   
    min-width: 250px;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.material-added{
    margin: 0;
    font-size: 0.8rem;    
    color: var(--grey);
}

.material-view-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5% 8px 5%;
}

.material-heading-container{
    display: flex;
    align-items: center;
    width: 65%; 
    overflow: hidden;
    text-overflow: ellipsis;

}

.material-name-container{
    margin-left: 10px;
 
}

.material-group-name-input{
    width: 100%;
}

.single-material-input{
    margin: 10px 0px 0px 0px;
}

.add-material-div{   
    background: var(--primaryYellowStrong);
    width: 100%;
    margin: 10px;
}

.material-button-container{
    white-space: nowrap;   
}

.next-material-button{
    padding: 0.2rem 0.5rem !important;  
    margin-left: auto;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
}

.multiple-file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.single-material-input-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.add-warning-text{
    color: var(--pastelRed);
    font-size: 1rem;
    font-weight: 600;  
    margin: 10px 0px 10px 0px;
}

.w100{
    width: 100% !important;
}

.rm{
    margin-right: 10px;
}

.mr5{
    margin-right: 5px;
}

.ml5{
    margin-left: 5px;
}

.mt10{margin-top: 10px;}

.mb10{
    margin-bottom: 10px;
}

.pointer{
    cursor: pointer;
}

@media(max-width: 1332px){
    .material-container{
        max-width: 1300px;
    }   
}

@media (max-width: 800px){    
    .material-name{
        max-width: 250px;
    }
}

@media (max-width: 500px){   
    .material-name{
        max-width: 150px;
    }
}

@media (max-width: 350px){    
    .material-name{
        max-width: 120px;
    }
}