@page
@model SchoolGradebook.Pages.AboutModel
@{
    ViewData["title"] = "O nás";
}
<h1>O nás</h1>
<p style="line-height:2;">Tvoříme systém, který pomáhá učitelům s každodenními úkoly, zaměřujeme se na intuitivnost, přehlednost a spolehlivost – v podstatě vše, co dnešní systémy na trhu nemají. Momentálně Studento vyvíjíme a zároveň testujeme na školách. Pokud bys chtěl/a s čímkoli pomoct, tak napiš na hello@erikstoklasa.cz budeme za to moc vděční 🙂</p>
<h2 class="my-5">Hledáme další členy do týmu</h2>
<div class="d-flex flex-column flex-lg-row">
    <div class="card mr-4">
        <div class="card-body flex-column">
            <h3>React developer & designer</h3>
            <ul>
                <li>prior experience with React ✨ (personal or commercial projects)</li>
                <li>you love design and are pixel perfect</li>
                <li>you want to work in a newly developing project, with no bureaucracy and lots of ability to influence the final product</li>
                <li>basic English understanding</li>
            </ul>
            <p>Aktuální k: @DateTime.Now.ToString("d. MM. yyyy") ✔️</p>
        </div>
    </div>
    <div class="card ml-4">
        <div class="card-body flex-column">
            <h3>Mobile app developer</h3>
            <ul>
                <li>prior experience with iOS or/and Android development 📱 (personal or commercial projects)</li>
                <li>no need to be amazing at design</li>
                <li>you want to work in a newly developing project, with no bureaucracy and lots of ability to influence the final product</li>
                <li>basic English understanding</li>
            </ul>
            <p>Aktuální k: @DateTime.Now.ToString("d. MM. yyyy") ✔️</p>
        </div>
    </div>
</div>
<p class="my-4">Pokud tě zajímá cokoli o projektu, nebo se chceš k nám přidat, tak mi určitě napiš na email: <a href="mailto:hello@erikstoklasa.cz">hello@erikstoklasa.cz</a></p>