@page
@model IndexModel
@{
    ViewData["Title"] = "Domů";
    Layout = "_LayoutBorderless";
}
<div class="text-center">
    @if (
!(User.IsInRole("teacher") || User.IsInRole("student") || User.IsInRole("admin")) &&
User.Identity.IsAuthenticated
)
    {
        <h1 class="mt-3">Tvůj účet není aktivován</h1>
        <a class="btn btn-primary mt-3" asp-page="/ActivateAccount">Aktivovat účet</a>

    }
    else
    {
        <div class="landing-page">
            <div class="px-3">
                <h1>Moderní škola<br>je za dveřmi</h1>
                <a href="https://studento.typeform.com/to/f7yRqd5T" class="btn-lg btn-primary box-shadow">Vyzkoušet testovací verzi</a>
            </div>
            <div class="flex-row">
                <img class="main-image" src="~/images/girl.png" alt="Cartoon girl holding a book">
            </div>

        </div>
        <div class="background-yellow">
            <div class="info-section">
                <div class="px-3">
                    <h2>Studento je intuitivní</h2>
                    <p>Vše, co potřebujete máte vždy po ruce. Studenti své známky a studijní materiály, učitelé své podklady k výuce, správci školní matriku a ředitelé důkladnou analýzu všeho, co se šustne ve škole.</p>
                </div>
                <img src="/images/landingPage-analysis.png" alt="Studento Analysis" height="154" />
            </div>
        </div>
        <div id="special-unicorn"></div>
        <div class="info-section-left background-black">

        </div>
        <div class="info-section">
            <div class="px-3">
                <h2 class="text-light">Dozvíte se vše, co normálně nevidíte</h2>
                <p class="text-light">Analyzujte výkon Vašich studentů, podívejte se na nejvýkonnější studenty. Studento poskytuje široké možnosti analýzy dat na škole, díky tomu se můžete rozhodovat jako vedení moderních firem.</p>
            </div>
            <img src="/images/landingPage-chart.png" alt="Studento Analysis" height="220" />
        </div>
    }
</div>
@section scripts{
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="~/js/reactTest.js"></script>
}
