@page
@model SchoolGradebook.Pages.Teacher.Subjects.DetailsModel
@{
    ViewData["title"] = "Učitel - detail předmětu";
}
<div id="root"></div>
@section Scripts {
    <script src="~/dist/SubjectDetailTeacher.js"></script>
}
