@page
@model SchoolGradebook.Pages.Student.Subjects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Všechny tvé předměty</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Předmět
            </th>
            <th>
                Vyučující
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SubjectsAndSubjectAverages)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.subjectInstance.Id">
                        @item.subjectInstance.SubjectType.Name
                    </a>
                </td>
                <td>
                    @item.subjectInstance.Teacher.GetFullName()
                </td>
                <td>
                    @item.subjectAverage
                </td>
            </tr>
        }
    </tbody>
</table>
