.subject-title-container{    
    display: flex;
    flex-wrap: wrap;
}

.subject-detail-table-teacher{
    padding: 20px 15px 20px 15px;
    max-height: 500px;
    overflow: auto;
}

.heading-container{
    flex-grow: 1;
    flex-basis: 656px;    
}

.average-container{
    flex-grow: 1;
    flex-basis: 656px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.grades-heading-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;     
    margin: 10px 0px 10px 0px; 
}

.grade-container-teacher{   
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.grade-sub-container-teacher{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 150px;
    width: 30%;
    justify-content: space-between;   
}

.student-average-teacher{
    margin: 0 5% 0 5%;
}

.name-container-teacher{   
    display: inline-block;
    min-width: 150px;   
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

.grades-material-container{
    display: flex;         
    justify-content: space-between;
    gap: 20px;
}

.student-grades-container-teacher{     
    flex-grow: 1;
    flex-basis: 500px;      
}

.student-material-container{
    flex-grow: 1;
    flex-basis: 470px;    
}

.student-heading-container-teacher{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.grades-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    margin-right: 25px;
    color: var(--grey); 
    flex-grow: 1; 
}

.student-heading-sub-container-teacher{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.display-grades-link{
    white-space: nowrap;
}

.rm{
    margin-right: 10px;
}

.add-warning-text{
    color: var(--pastelRed);
    font-size: 1rem;
    font-weight: 600;  
    margin: 10px 0px -5px 0px;
}

.add-material-container{
    min-width: 250px;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.add-selection-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 0px 0px;
}

.add-group-container{
    margin: 10px 0px 0px 0px;
}

.popup-inner-container{
    max-height: 95vh;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 15px;   
    background-color: white;
    border: none;
    border-radius: 10px;
    overflow-y: auto !important;     
}

.popup-inner-padding{
    padding:15px 15px 15px 15px;
}

.popup-title-container{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-title{
    margin: 0;
    color: var(--grey);
}

.add-selection-button{
    flex-grow: 1;
}

.material-group-name-input{
    width: 100%;
}

.single-material-input{
    margin: 10px 0px 0px 0px;
}

.border-container{
    width: calc(100% - 10px);
    margin: 10px auto 10px auto;
    border-width: 1px 0 0 0; /* top right bottom left */
    border-style: solid;
    border-color: lightgray;
}

.add-grade-div{   
    background: var(--primaryYellowStrong);
    width: 100%;
}

.add-grade-text{
    margin: 0px 0px 0px 0px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

.next-material-button{
    padding: 0.2rem 0.5rem !important;  
    margin-left: auto;
}

.w100{
    width: 100% !important;
}

.multiple-file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.single-material-input-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.material-name-input{
    margin-left: 10px;
    margin-right: 10px;
}

.material-popup-help-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}


.file-input-label{
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    border: transparent;
    outline: none;
    border-radius: 10px;
    min-height: 158.4px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 10px 40px 10px;
}


.pointer{
    cursor: pointer;
}

.mr5{
    margin-right: 5px;
}

.ml5{
    margin-left: 5px;
}

.mb10{
    margin-bottom: 10px;
}

@media(max-width: 1332px){    
    .student-grades-container-teacher{
        max-width: 1300px;
    }
      
}

@media(max-width: 1120px){       
    .grades-material-container{
        flex-wrap: wrap;
    }   
}

