.subject-title-container{
    
    display: flex;
    flex-wrap: wrap;
}

.heading-container{
    flex-grow: 1;
    flex-basis: 470px;    
}

.average-container{
    flex-grow: 1;
    flex-basis: 470px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.grades-heading-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;     
    margin: 16px 0px 16px 0px; 
}

.grades-heading{
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    margin-right: 25px;
    color: var(--grey);
}

.grade-container{   
    padding: 15px 5% 15px 5%;
    display: flex;
    justify-content: space-between;  
}

.grade-info-container{
    margin: 15px 2% 15px 2%;
    padding: 10px 3% 10px 3%;    
    border: 1px solid black;
    border-radius: 5px;    
}

.grade-info-information-container{
    display: flex;
    justify-content: space-between;
}

.grade-info-detail-text{
    width:70%;
    text-align: left;
    margin-right: 0 !important;
}

.grade-container-hover{
    background-color: gray;
}

.grade-sub-container{
    display: flex;
    min-width: 150px;
    width: 70%;
    justify-content: space-between;
}

.grade-info-sub-container{   
    min-width: 150px;
    width: 70%;    
}

.grade-name{   
    display: inline-block;
    color: #0366d6 !important;
    min-width: 100px;   
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grade-info-name{
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}

.grade-time{    
    white-space: nowrap;
    display:flex;
    justify-content: start;
    align-items: center
}

.grade-child{
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
   
}

.grades-material-container{
    display: flex;
    flex-wrap: wrap;     
    justify-content: space-between;
}

.student-grades-container{
    flex-grow: 1;
    flex-basis: 470px;        
}

.student-material-container{
    flex-grow: 1;
    flex-basis: 470px;    
}

.close-button-container{  
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 5px 0;
}

.close-info-button{
    margin-left: auto !important;   
}

@media (min-width: 960px){
    .student-material-container {
        padding-left: 50px !important;
    }
    .average-container {
        padding-left: 50px !important;
    }
}