.subject-title-container{
    
    display: flex;
    flex-wrap: wrap;
}

.heading-container{
    flex-grow: 1;
    flex-basis: 470px;    
}

.average-container{
    flex-grow: 1;
    flex-basis: 470px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.grades-heading-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;     
    margin: 16px 0px 16px 0px; 
}

.grades-heading{
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    margin-right: 25px;
    color: var(--grey);
}

.grade-container{   
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.grade-info-container{
    padding: 15px 25px 15px 25px;
}

.grade-info-row{
    display: flex;
    justify-content: space-between;
}

.grade-info-detail-text{
    width:70%;
    text-align: left;
}

.grade-container-hover{
    background-color: gray;
}

.grade-sub-container{
    display: flex;
    min-width: 150px;
    width: 70%;
    justify-content: space-between;
}

.grade-name{   
    display:flex;
    justify-content: start;
    align-items: center;
    color: #0366d6 !important;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grade-time{    
    white-space: nowrap;
    display:flex;
    justify-content: start;
    align-items: center
}

.grade-child{
    margin: 0px 10px 0px 10px;
   
}

.grades-material-container{
    display: flex;
    flex-wrap: wrap;    
    align-items: flex-start;
    justify-content: space-between;
}

.student-grades-container{
    flex-grow: 1;
    flex-basis: 470px;        
}

.student-material-container{
    flex-grow: 1;
    flex-basis: 470px;    
}

@media (min-width: 960px){
    .student-material-container {
        padding-left: 50px !important;
    }
    .average-container {
        padding-left: 50px !important;
    }
}