@page
@model SchoolGradebook.Pages.Student.TimetableModel
@using SchoolGradebook.Services
@using System.Globalization;

<h1>Můj rozvrh</h1>
<div id="root"></div>
@section Scripts {
    <script src="~/dist/TimeTable.js"></script>
}