@page
@model SchoolGradebook.Pages.Admin.Subjects.SubjectTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit předmět</h1>

<p class="alert alert-danger">Pozor, odstraníte tím i všechny předměty, které jste zapsali vyučujícím</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Název předmětu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectType.Name)
        </dd>
        <dt class="col-sm-2">
            Název oboru
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectType.SpecializationName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="SubjectType.Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> |
        <a asp-page="./Index">Zpět</a>
    </form>
</div>
