@page
@model SchoolGradebook.Pages.Admin.Subjects.SubjectTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SubjectType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectType.Id" />
            <div class="form-group">
                <label asp-for="SubjectType.Name" class="control-label"></label>
                <input asp-for="SubjectType.Name" class="form-control" />
                <span asp-validation-for="SubjectType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectType.SpecializationName" class="control-label"></label>
                <input asp-for="SubjectType.SpecializationName" class="form-control" />
                <span asp-validation-for="SubjectType.SpecializationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

