@page
@model SchoolGradebook.Pages.Admin.Subjects.SubjectTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Všechny typy předmětů</h1>

<p>
    <a asp-page="Create">Přidat nový</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Název
            </th>
            <th>
                Obor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SubjectTypes)
        {
            <tr>
                <td>
                    @(item.Name)
                </td>
                <td>
                    @(item.SpecializationName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Upravit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
