@page
@model SchoolGradebook.Pages.AboutModel
@{
    ViewData["title"] = "O nás";
}
<h1>Soustřeďte se plně na výuku</h1>
<div class="customer-points">
    <h2>Vždy vám nasloucháme a reagujeme na vaše přání</h2>
    <p>Pokud byste měli jakékoli otázky, návrhy nebo nápady tak se nám můžete ozvat na email: moje@studento.cz</p>
    <h2>Naší aplikaci můžete používat bez jakéhokoli školení</h2>
    <p>Ano, opravdu je tak jednoduchá, pohodlně ji zvládne ovládat každý učitel i ředitel</p>
</div>