@page
@model SchoolGradebook.Pages.FirstPasswordReset
@{
    ViewData["title"] = "Výběr nového hesla";
}

<h1>Vítej v aplikaci Studento!</h1>
<p>Už si stačí jen nastavit heslo. Neboj, heslo si můžeš vždycky znovu sám obnovit na přihlašovací stránce.</p>
@if (ViewData["status"] != null)
{
    <div class="alert alert-success mt-4">@ViewData["status"]</div>
}
<form method="post" class="col-md-3 pt-2 pl-0">
    @*<input type="hidden" asp-for="Code" value="@Model.Code" />
        <input type="hidden" asp-for="UserId" value="@Model.UserId" />*@
    <div class="form-group">
        <label asp-for="Password" class="control-label">Nové heslo</label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <input type="submit" value="Přihlásit se" class="btn btn-primary" />
    </div>
</form>
<div asp-validation-summary="All" class="text-danger"></div>
