@page
@model SchoolGradebook.Pages.Teacher.Subjects.Materials.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Přidat studijní materiál</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectMaterial.SubjectTypeId" class="control-label">Předmět</label>
                <select asp-for="SubjectMaterial.SubjectTypeId" class="form-control" asp-items="Model.SubjectSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubjectMaterial.Name" class="control-label">Název metriálu</label>
                <input asp-for="SubjectMaterial.Name" class="form-control" />
                <span asp-validation-for="SubjectMaterial.Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="FileUpload">Zde vložte soubor</label>
            </div>
            <div>
                <input asp-for="FileUpload" type="file">
                <span asp-validation-for="FileUpload"></span>
            </div>
            <div class="form-group mt-4">
                <input asp-page-handler="Upload" type="submit" value="Přidat materiál" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Teacher/Subjects/Details" asp-route-id="@Model.SubjectSelectList[0].Value">Zpět</a>
</div>

