@page
@model SchoolGradebook.Pages.Teacher.Subjects.Materials.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Opravdu to chcete smazat?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Název materiálu
        </dt>
        <dd class="col-sm-10">
            @(Model.SubjectMaterial.Name + Model.SubjectMaterial.FileExt)
        </dd>
        <dt class="col-sm-2">
            Předmět
        </dt>
        <dd class="col-sm-10">
            @Model.SubjectMaterial.Subject.Name
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="SubjectMaterial.Id" />
        <input type="submit" value="Odstranit materiál" class="btn btn-danger" /> |
        <a asp-page="Subjects/Details" asp-route-id="@Model.SubjectMaterial.SubjectId">Zpět</a>
    </form>
</div>
