@page
@model SchoolGradebook.Pages.Admin.Import.IndexModel
@{
    ViewData["Title"] = "Import";
}
@if ((string) ViewData["status"] == "OK")
{
    <p class="alert alert-success">Studenti byli úspěšně přidáni</p>
}
else if(ViewData["status"] != null)
{
    <p class="alert alert-danger">Vyskytla se chyba: @ViewData["status"]</p>
}
<p>Import studentů musí být ve formátu csv, řádky mají přesně 6 záznamů oddělených čárkou: jméno, příjmení, datum narození, rodné číslo, email, id třídy (optional).</p>
<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload">Soubor se záznamy o studentech</label>
        </dt>
        <dd>
            <input asp-for="FileUpload" type="file" accept=".csv">
            <span asp-validation-for="FileUpload"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Nahrát" />
</form>
